.clock {
    display: flex;
    width: 100%;
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 18px;
}

.clock > .time {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.clock > .time > .value {
    font-size: 70px;
    font-weight: 700;
}

